<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>{{ pageTitle }}</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  {{#if loginCSS}}
  <link href='/css/login.css' rel='stylesheet' />
  {{/if}}
  {{#if artistCSS}}
  <link href='/css/artist.css' rel='stylesheet' />
  {{/if}}
</head>

<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Artist App</a>
      </div>
    </div>
  </nav>
  <main class="container pt-4">{{{body}}}</main>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
{{#if artistScript}}
<script type="text/javascript" src="/js/artist.js"></script>
{{/if}}

</html>